.contaienr {
    width: 100%;
}

.gameMenuContainer {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

.boardContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale( 0.5 );
}

.playerInfoContainer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 10px;
    z-index:10;
}
