.outerContainer {
    margin-top: 20px;
    background: #f4f1e6;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #E8D6C0;
    box-shadow: 12px 12px 20px -14px;
}

.innerContainer {
    background: linear-gradient(to bottom, #f4f1e6 0%,#eae0d3 100%);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid #E5CEB3;
}

.marginBottomFix {
    min-height: 20px;
    display: block;
}
