.outer {
    width: fit-content;
    border: 1px solid white;
    border-radius: 6px;
    padding: 1px;
    width: fit-content;
    max-width: 190px;
    min-width: 190px;
}

.inner {
    border-radius: 6px;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(39,57,35,0.2) 100%);
    border: 1px solid white;
    height: 100%;
    box-sizing: border-box;
    padding: 3px;
}

.playerName {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.subjectContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(2200, 255, 255, 0.4);
    border: 1px solid rgb(240, 240, 240);
    font-size: 14px;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
}

.subjectContainer + .subjectContainer {
    margin-top: 3px;
}

.value {
    font-size: 14px;
}

.piecesContainer {
    margin-left: 6px;
}

.piecesContainer div {
    display: inline-block;
}

/* leftTop */
.s0 {
    position: fixed;
    left: 20px;
    top: 20px;
}

/* rightTop */
.s1 {
    position: fixed;
    right: 20px;
    top: 20px;
}

/* leftBottom */
.s2 {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

/* leftMiddle */
.s3 {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* rightMiddle */
.s4 {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* rightBottom */
.s5 {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* middleBottom */
.s6 {
    position: fixed;
    left: 50%;
    bottom:  20px;
    transform: translate(50%);
}

/* leftMiddleBottom */
.s7 {
    position: fixed;
    left: 33%;
    bottom: 20px;
    transform: translate(50%);
}

/* rightMiddleBottom */
.s8 {
    position: fixed;
    left: 66%;
    bottom: 20px;
    transform: translate(50%);
}
