.container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.userContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 1em;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
}

.logoutBtn {
	background:linear-gradient(to bottom, orangered 5%, darkred 100%);
	border-radius:6px;
	border:1px solid darkred;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
    margin-left: 30px;
}

.logoutBtn:hover {
	background: darkred;
    color: rgb(255, 251, 235);
    border: 1px solid darkred;
}

.underMenuContainer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
}

.lobbyContainer {
    min-height: fit-content;
    max-height: 300px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    margin: 5px;
}

.alreadyInGameContainer {
    font-size: 20px;
    color: #7E370C;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: all .2s;
}

.alreadyInGameContainer:hover {
    color: white;
    background-color: darkgreen;
    transition: all .2s;
    user-select: none;
}

.gamesContainer {

}
