.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/pexels-george-becker-129742.jpg); /* image by George Becker @ https://www.pexels.com/photo/black-queen-chess-piece-standing-129742/ */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
