.app {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-image: url(assets/images/pexels-george-becker-129742.jpg); /* image by George Becker @ https://www.pexels.com/photo/black-queen-chess-piece-standing-129742/ */
    /* background-size: cover;
    background-position: center; */
    background: rgb(46,117,58);
    background: linear-gradient(72deg, rgba(46,117,58,1) 0%, rgba(39,57,35,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}
