.login {
    text-align:center;
 }

.login #title {

    --titleColor: rgba(255,255,255, 0.4);

    margin: 100px auto 100px auto;
    color: black;
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 120px;
    font-weight: 900;
    user-select: none;
    text-shadow: -20px 0 var(--titleColor), 0 20px var(--titleColor), 20px 0 var(--titleColor), 0 -20px var(--titleColor);
}

.login .container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 20px 0px 20px;
    width: fit-content;
    margin: 0px auto 20px auto;
    border: 1px solid white;
    border-radius: 6px;
}

.login input {
    font-size: 20px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 6px;
    border: 0px;
    margin: 10px;
}

.login input:focus {
    outline: 0 none;
    box-shadow: 0 0 10px black;
    border-radius: 6px;
}

.login #loginBtn {
    background-color: green;
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    width: 280px;
    cursor: pointer;
}

.login #loginBtn:hover {
    background-color: black;
}

.login #spectatorBtn {
    background-color: blue;
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    width: 280px;
    cursor: pointer;
}

.login #spectatorBtn:hover {
    background-color: black;
}

.login #orDiv {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}
