.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . .";
}

.tableContainer {
    overflow-x: auto;
    overflow-y:hidden;
    width: 806px;
}

.table {
    table-layout: fixed;
    margin: auto;
    /* margin: auto; */
    /* margin-top: 20px; */
}

.td {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

.td:hover {
    background-color: lightblue !important;
}

.active {
  border: 1px solid #000;
  background: rgb(255, 251, 235);
  text-align: center;
  vertical-align: middle;
  border-radius: 5px !important;
  box-sizing: border-box;
  position: relative;
}

.inactive {
  border: 1px solid #000;
  background: orange;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px !important;
  box-sizing: border-box;
  position: relative;
}

/* effect is making the app slow */
/* @keyframes glow {
    to {
        box-shadow: inset 0 0 40px 10px rgba(255,215,0, .7), 0px 0px 20px 10px rgba(255, 215, 0, 1);
    }
} */

.lastTileFading{
    z-index: 10;
    border: 1px solid darkgoldenrod;
    box-shadow: inset 0 0 40px 10px rgba(255,215,0, .6), 0px 0px 20px 10px rgba(255, 215, 0, 1);
    /* animation: glow 1s infinite alternate; */
}

.active.faded {
    opacity: 0.2;
    border: 0px;
}

.faded:hover .tileId {
    color: rgb(18, 7, 0, 1);
}

.tr:nth-child(odd) .td:nth-child(even).faded .tileId {
    color: rgb(255, 251, 235);
}
.tr:nth-child(even) .td:nth-child(odd).faded .tileId {
    color: rgb(255, 251, 235);
}

.isSelected {
    background-color: lightblue !important;
}

.tr:nth-child(odd) .active:nth-child(even) {
    background: rgb(18, 7, 0);
}
.tr:nth-child(even) .active:nth-child(odd) {
    background: rgb(18, 7, 0);
}

.tileId {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 16px;
    color: rgb(18, 7, 0, 1);
    font-style: italic;
    opacity: 0;
    user-select: none;
}

.active:hover .tileId {
    opacity: 1;
}

.hoverable:hover .tileId {
    color: rgb(255, 251, 235);
}

.tr:nth-child(odd) .active:nth-child(even) .tileId {
    color: rgb(255, 251, 235);
}
.tr:nth-child(even) .active:nth-child(odd) .tileId {
    color: rgb(255, 251, 235);
}

.tileFadesSoon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 16px;
    color: orangered;
    font-weight: bold;
    user-select: none;
}

.group {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.name {
    width: 50%;
    text-align: right;
    display: inline-block;
    padding: 1px;
    padding-right: 12px;
    box-sizing: border-box;
}

.value {
    width: 50%;
    text-align: left;
    display: inline-block;
    padding: 1px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: 1px solid brown;
}

.btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGroup button {
    text-decoration: inherit;
    border-radius: 4px;
    margin: 1px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0px;
}

.addButton {
    color: white;
    background-color: #9E9380;
    transition: background .3s;
}

.addButton:hover {
    color: white;
    background-color: green;
    transition: background .3s;
}

.removeButton {
    color: white;
    background-color: #9E9380;
    transition: background .3s;
}

.removeButton:hover {
    color: white;
    background-color: red;
    transition: background .3s;
}
