.container {
    display: flex;
    justify-content: center;
    width: 600px;
}

.outer {
    background: rgb(255,255,255);
    width: 100%;
    border: 1px solid white;
    border-radius: 6px;
    padding: 3px;
    margin: 10px;
}

.inner {
    border-radius: 6px;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(39,57,35,0.2) 100%);
    border: 1px solid white;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.countdownContainer {
    flex-grow: 1;
    margin: 10px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exitButton {
    text-decoration: inherit;
    color: inherit;
    background-color: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
}

.exitButton:hover {
    color: white;
    background-color: red;
    outline: 1px solid orangered;
    transition: all .3s;
}

.countdown {
    margin: 5px;
    display: inline-block;
}

.round {
    margin: 5px;
    display: inline-block;
}

.timeBig {
    display: inline-block;
    font-size: 30px;

}

.timeSmall {
    display: inline-block;
}
